html {
  font-family: sans-serif;
}

.custom-box {
  background-color: red;
  width: 24%;
  height: 120px;
  border: 3px solid red;
  border-radius: 20px;
  box-shadow: inset -2px -2px 8px black, 3px 3px 8px black,
    inset 4px 4px 5px white;
  text-align: center;
}

.box-text {
  font-size: 50px;
  line-height: 110px;
  color: red;
  text-shadow: 2px 2px 4px black;
}
