body{
    box-sizing: border-box;
  }
  
  h1 {
      background-color: #91007F;
      text-align: center;
      color: white;
      /* height: 75px; */
      margin: auto;
      padding-top: 30px;
      padding-bottom: 30px;
  }
  .buttons {
      
  }
  .column-left, .column-right, .column-middle {
    float: left;
    padding: 10px;
    height: 300px;
    background-color: #01FFFF;
    margin: 10px;
  }
  
  .column-left, .column-middle {
    width: 25%;
  }
  
  .column-right {
    width: 40%;
  }
  
  /* Clear floats after the columns */
  /* .row:after {
    content: "";
    display: table;
    clear: both; */