/* General styles */

html {
  font-family: 'Helvetica neue', Arial, 'sans serif';
  font-size: 10px;
}

body {
  width: 64em;
  margin: 0 auto;
}

/* Typography */

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3.2em;
}

main p,
main li {
  font-size: 1.3em;
}

footer p {
  font-size: 1.2em;
  font-weight: bold;
}

/*+++ more specific section styles +++*/

/* header and footer */

header,
footer {
  background-color: teal;
  height: 10em;
  padding: 1em;
}

h1 {
  text-align: center;
}

/* main content */

main {
  padding: 2em;
}

main p,
main li {
  line-height: 2;
}

img {
  width: 22em;
  float: right;
  margin: 1.2em 2em;
}
