body {
  text-align: center;
  margin: 0;
  font-family: sans-serif, fantasy;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin-top: 0;
  padding-left: 0;
  height: 60px;
  color: white;
  background-color: orange;
}

.nav li {
  height: 100%;
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
}

.nav a {
  text-decoration: none;
  color: white;
}

.active {
  background-color: #ff8e00;
  height: 100%;
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
}
