<head>
    <link rel="stylesheet" type="text/css" href="styles.css" />
</head>

<h1>Languages:</h1>
<ul>
    <% languages.forEach((language) => { %>
    <li><%= language %>
    </li>
    <% }) %>
</ul>