body {
  font-size: 1.5em;
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style: none;
}

.nav li a {
  font-size: 1.4em;
}

.link--active {
  color: red;
}

.movie-list {
  list-style: none;
  font-size: 24px;
  color: green;
}
