<h3>Form with get</h3>

<form action="/submit-form-with-get">
  <input type="text" name="first" placeholder="first name" />
  <input type="text" name="last" placeholder="last name" />
  <input type="submit" value="Done" />
</form>

<a href="/form-with-post">Open form with post</a>
